<!doctype html>
<html>
<head>
  <title>Flaskr</title>
  <script src="{{url_for( "static", filename="index.js" )}}"></script>
</head>
<body>
  <div class=page>
    <h1>Chatapp :)</h1>
    <h2>Welcome to Chatapp</h2>

    <div class=messageboard>
    </div>

    <form action="/write" method=get>

      Your message:
      <input type=text size=30 name=msg>
      <input type=submit value=Send>
      <input type=text size=30 name=name class=Name> Your Colour:
      <input type="color" value="#ff0000" class=Colour name=Colour>
    </form>
  </div>
</body>
</html>
